/* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
*{
  transition: all 0.2s linear;
}
:root{
    --blue:rgb(37,150,190);
    --deep_blue:#205586;
}
body{
    /* background-color: rgb(34, 34, 34); */
    background-image: url(../images/new1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: rgb(37, 150, 190);
    font-weight: bolder;
    font-size: 25px;
}

a:hover{
    color: #042645;
    transition: 0.3s all;
}

h1{
    font-weight: 200;
    color: rgb(37, 150, 190);
    /* color: rgb(132, 14, 201); */
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: rgb(37, 150, 190);
}
main aside{
    margin-top: 60px;
}
p{
    /* line-height: 20px; */
    /* max-width: 500px; */
    font-family: poppinslight;
    font-size: 30px;
    color: black;
}

img{
    width: 580px;
}

#title .logo img
{
    width: 60px;
    height: 60px;
    padding-right: 10px;
}
/* loader starts */
.loader-container{
    position: fixed;
    top: 0;left: 0;
    z-index: 1000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 100%;
    width: 100%;
}
.loader-container img{
    height: 10%;
    width: 5%;
}
.loader-container.fade-out{
    top: -120%;
}
.loader-container .animate__heartBeat{
    animation-iteration-count: infinite;
}
/* loader ends */
/* button section starts */
.btn{
    display: inline-block;
    padding: .5rem 2rem;
    border: .2rem solid rgb(37,150,190);
    text-decoration: none;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
  }
  .btn::before{
      content: '';
      position: absolute;
      top: 0; right: 0;
      width: 0%;
      height: 100%;
      background: var(--blue);
      transition: .3s linear;
      z-index: -1;
  }
  .btn:hover::before{
      width: 100%;
      left: 0;
  }
  .btn:hover{
      color: #fff;
  }
  /* icon animation */
  /* header .logo .animate__heartBeat{
      animation-iteration-count: infinite;
  } */
  /* p section */
  .change_content:after{
      content: '';
      animation: changetext 5s infinite linear;
      /* font-size: large; */
      font-weight: bolder;
      color: var(--blue);
  }
  @keyframes changetext{
      0%{content: "Search";}
      50%{content: "Book Appointment";}
      100%{content: " Visit";}
     
  }

  /* about section starts */
  .heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
  }
  .heading h1 {
    font-size: 50px;
    color: rgb(37, 150, 190);
    margin-bottom: 25px;
    position: relative;
  }
  /* .heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: rgb(37, 150, 190);
  } */
  /* .heading p { */
    /* font-size: 25px;
    color: #666;
    margin-bottom: 35px;
  } */
  .container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
  }
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
  }
  .about-image img {
    max-width: 100%;
    border: .1rem groove rgb(37,150,190);
    box-shadow: 0 .5rem 1rem rgba(37, 150, 190, 0.3);
    height: auto;
    /* display: auto; */
    transition: 0.5s ease;
  }
  .about-image:hover img {
    transform: scale(1.2);
  }
  .about-content {
    flex: 1;
  }
  .about-content h2 {
    margin-top: -20%;
    font-size: 35px;
    margin-bottom: 15px;
    color: rgb(37, 150, 190);
  }
  .about-content p {
    font-size: 20px;
    line-height: 1.5;
    color: #666;
  }
  /* icons design starts */
  .features{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 1.5rem;
    padding: 1rem 0;
    /* margin-top: 5%; */
    width: 80%;
    margin: 1rem auto;
    margin-top: -.5rem;
    background: #fff;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
            box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
    /* padding: 3rem 2rem; */
  }
  .features .box{
    flex: 1 1 25rem;
    padding: 1rem;
    text-align: center;
  }
  .features .box img{
   width: 60%;
   height: 60%;
   border-radius: 50%;
   border: .1rem groove rgb(37,150,190);
   box-shadow: 0 .5rem 1rem rgba(37, 150, 190, 0.3);
   transition: 0.5s ease;
  }
  
  .features .box:hover img{
    /* width: 50px; */
    transform: scale(1.2);
  }
  .features .box h1{
    font-size: 1.5rem;
    color: var(--deep_blue);
    font-weight: bold;
    padding: 1rem;
  }

  /* service section starts */
  /* .service{
	background: white;
	width: 100%;
	padding: 100px 0px;
}
.title h1{
	color: rgb(37, 150, 190);
	font-size: 50px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: rgb(37, 150, 190);
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: rgb(37, 133, 189);

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: rgba(241, 239, 235, 0.8);
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:rgb(80, 129, 221);
	color: rgb(214, 223, 226);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #e4a98e;
	cursor: pointer;
}
  */

  /* service section ends */

  /* service section 2 starts */
  /* .service{
    margin-top: 5px;
  } */
  .service h1{
    margin-top: 7%;
    font-size: 50px;
    color: rgb(37, 150, 190);
    margin-bottom: 25px;
    position: relative;

  }
.service .box-container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 1.0rem;
    padding-right: 1.5rem;
    left: 20px;
    margin-bottom: 20px;
  }
.service .box-container .box{
  flex: 1 1 20rem;
  border-radius: .5rem;
  /* height: 30px;
  width: 30px; */
  /* left: -20px; */
  box-shadow: 0 .5rem .5rem rgb(37,150,190);
  border: .3rem solid rgba(37, 150, 190, 0.3);
  text-align: center;
  padding: 2rem;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 5%;
}
.service .box-container .box img{
  height: 60%;
  width: 70%;
  transition: 0.5s ;
}
.service .box-container .box:hover img{
  transform: scale(1.2);
}
.service .box-container .box h3{
  font-size: 1.5rem;
  color: var(--deep_blue);
}
/* service section 2 ends */

/* category section starts */


/* category section ends */
/* .category .heading h1{
  margin-top: 7%;
} */
.category .box-contianer1{
  display: flex;
  flex-wrap: wrap; 
  gap: 1.5rem;
  margin-bottom: 5%;
  /* background-color: #205586; */
  /* flex-direction: row; */
}
.category .box-contianer1 .box1{
  padding: 2rem;
  height: 20rem;
  flex: 1 1 20rem;
  border:0 .5rem .5rem rgb(37,150,190);
  box-shadow: 0 .5rem 1rem rgba(14, 83, 106, 0.8);
  position: relative;
  overflow: hidden;
}
.category .box-contianer1 .box1 img{
  height: 90%;
  width: 100%;
  object-fit: cover;
}
.category .box-contianer1 .box1 .content{
  position: absolute;
  top: -100%;left: 0;
  height: 100%;
  width: 100%;
  background: rgba(150, 201, 220, .9);
  /* padding: 2rem; */
  /* padding-top: 5rem; */
  text-align: center;
}
.category .box-contianer1 .box1 .content h3{
  font-size: 2.5rem;
  color: #fff;
  padding-top: 4rem;
  text-transform: capitalize;
}
.category .box-contianer1 .box1 .content p{
  top: -10%;
  font-size: 1.3rem;
  color: #fff;
}
.category .box-contianer1 .box1:hover .content{
  top: 0;
}